[submodule "benchmarks/motoneuron_modeling"]
	path = benchmarks/motoneuron_modeling
	url = https://github.com/GazzolaLab/Motoneuron-Modeling.git
[submodule "benchmarks/motoneuron_culture"]
	path = benchmarks/motoneuron_culture
	url = https://github.com/GazzolaLab/Motoneuron-Culture.git
