miv_simulator @ git+https://github.com/GazzolaLab/MiV-Simulator@main
dmosopt @ git+https://github.com/iraikov/dmosopt.git@main
machinable
tensorflow==2.15
matplotlib
seaborn
pandas
numpy
scikit-learn
livelossplot
pysqlite3-binary
rich
